html
{
 background: url("../images/backgroundimage.jpg") fixed;
}

head
{
	
}

.headertable
{
	border: 0px solid black;
	width: 100%;
	min-width: 960px;
	padding-right:20px;
  background-color: #fffe00;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}

.paddingHeader {
  width: 100%;
  height: 50px;
  min-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.paddingHeader2 {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 50px;
  min-width: 960px;
  right: 0px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: #dedede;
}

.text
{
	text-decoration: none;
	color:#ffffff;
}
.text1
{
	color:#ffffff;
	font-family: Georgia;
	padding: 20px 30px 20px 0px;
	border: 0px solid white;
}

.header2
{
	border: 0px solid white;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	font-family: Georgia;
	text-decoration: none;
}





div#hmenu { 
   margin: 0; 
   width: 100%; 
   text-align: center; 
   border-bottom: 0px solid #F2F525;
  
} 

div#hmenu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#hmenu ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#hmenu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 1em; 
   color: #ffffff; 
   padding-left: 50px;
   padding-right: 50px;
} 

div#hmenu ul a:visited{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 1em; 
   color: #ffffff; 
   padding-left: 50px;
   padding-right: 50px;
} 

div#hmenu ul li#currentpage a{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 1em; 
    color: #000000; 
   background-color: #F2F525; 
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
   padding-left: 50px;
   padding-right: 50px;
} 

div#hmenu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 1em; 
   color: #000000; 
   background-color: #F2F525; 
   
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
   padding-left: 50px;
   padding-right: 50px;

}

.footer
{
    border: 0px solid white;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	color:#ffffff;
	font-family: Georgia;
	text-decoration: none;

}

.footerrowleft
{
  text-align: left;
  font-size: 0.6em;
}

.footerrowright
{
  text-align: right;
}

.logo
{
  height: 40px;
  width: 40px;
  opacity: 1;
}

.text1 h1 {
    font: 25px Georgia;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 0px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #ffffff;
}

.scale
{
	height: 40px;
	width: 40px;
}