html
{
 background: url("../images/backgroundimage.jpg");
}

head
{
	
}

.headertable
{
	border: 0px solid black;
	width: 100%;
	height: 60px;
	min-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right:20px;


}
.headeralign
{
	text-align: right;
	color: #ffffff;
	font-family: Georgia;
	text-decoration: none;
}
.text
{
	text-decoration: none;
	color:#ffffff;
}
.text1
{
	color:#ffffff;
	font-family: Georgia;
	padding: 20px 30px 20px 0px;
	border: 0px solid white;
}

.header2
{
	border: 0px solid white;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	font-family: Georgia;
	text-decoration: none;
}





div#hmenu { 
   margin: 0; 
   padding: .3em 0 .3em 0; 
   
   width: 100%; 
   text-align: center; 
  
} 

div#hmenu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#hmenu ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#hmenu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 1.3em; 
   color: #ffffff; 
   padding-left: 80px;
   padding-right: 80px;
} 

div#hmenu ul a:visited{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 1.3em; 
   color: #ffffff; 
   padding-left: 80px;
   padding-right: 80px;
} 

div#hmenu ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 1.3em; 
    color: #000000; 
   background-color: #F2F525; 
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
   padding-left: 80px;
   padding-right: 80px;
} 

div#hmenu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 1.3em; 
   color: #000000; 
   background-color: #F2F525; 
   
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
   padding-left: 80px;
   padding-right: 80px;

}

.footer
{
    border: 0px solid white;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	color:#ffffff;
	font-family: Georgia;
	text-decoration: none;

}
.footerrowleft
{
text-align: left;
font-size: 0.6em;
}
.footerrowright
{
text-align: right;
}

.artbodytable
{
	width:960px;
	margin: auto;
	padding-top: 60px;
	padding-bottom: 60px;


}
.logo
{
	height: 12%;
	width: 12%;
}

.contactusmain
{

	width: 960px;
	margin: auto;
	border: 0px solid white;
}

.contactustableleft
{

width: 100%;
margin: auto;
border:0px solid yellow;
float: left;
}

.contactustableright
{
	width:40%;
	margin: auto;
border:0px solid yellow;
float: left;
}


/* #### bootstrap Form #### */
.bootstrap-frm {
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    
    padding: 20px 30px 20px 30px;
    font: 12px Georgia;
    color: #ffffff;
    background-color: #efefef;
    
    border:0px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.bootstrap-frm h1 {
    font: 25px Georgia;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #000000;
    background-color: #efefef;
    text-align: center;
}
.bootstrap-frm nav{
    font: 25px Georgia;
    padding: 40px 0px 10px 40px;
    display: block;
    border-top: 0px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #000000;
    background-color: #efefef;
    text-align: center;
}
.bootstrap-frm h1>span {
    display: block;
    font-size: 11px;
}
.bootstrap-frm label {
    display: block;
    margin: 0px 0px 5px;

}
.bootstrap-frm label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #000000;
    font-family: Georgia;
    font-weight: bold;
}
.bootstrap-frm input[type="text"], .bootstrap-frm input[type="email"], .bootstrap-frm textarea, .bootstrap-frm select{
    font-family: Georgia;
    font-size: 1em;
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bootstrap-frm select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height:15px;
}
.bootstrap-frm textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.bootstrap-frm .button {
    background: #fff;
    border: 0px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}
.bootstrap-frm .button:hover {
    color: #333;
    background-color: #EBEBEB;
    
}
.text1 h1 {
    font: 25px Georgia;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 0px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #ffffff;
    }

 .contactustableright tr td
    {
border:0px solid white;
    }

.scale
{
	height: 40px;
	width: 40px;
}