.loginTable {
	border: 1px solid black;
}

.signupTable {
	border: 1px solid black;
}

.bodyTable {
	width: 90%;
	max-width: 1000px;
	min-width: 900px;
	border: 1px black solid;
	margin-right: auto;
	margin-left: auto;
}