.mainColor {
	background-color: #F0EB71;
}

.secondaryColor1 {
	background-color: #FCFAD9;
}

.font {
	font-family: verdana;
}

.headerButtonColor{
	background-color: #F0EB71;
	border: 1px solid #FCFAD9;
}

.headerButtonColor:hover{
	background-color: #FCFAD9;
}


.buttonColor {
	background-color: #efefef;
}

.buttonColor:hover {
	background-color: #fefe12;
}