.mainColor {
	background-color: #F0EB71;
}

.secondaryColor1 {
	background-color: #FCFAD9;
}

.font {
	font-family: verdana;
}

.headerAccountButtonColor{
	background-color: #F0EB71;
	border-right: 1px solid #CCC521;
	border-left: 0px;
	border-top: 0px;
	border-bottom: 0px;
}

.headerAccountButtonColor:hover{
	background-color: #CCC521;
}

.headerLogoutButtonColor{
	background-color: #F0EB71;
	border-left: 1px solid #CCC521;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
}

.headerLogoutButtonColor:hover{
	background-color: #CCC521;
}


.buttonColor {
	background-color: #efefef;
}

.buttonColor:hover {
	background-color: #CCC521;
}

.headerTableColumnLeft a {
	color: #000000;
}

.bodyInnerTable1 tr#header td{
	padding-bottom: 5px;
	border-bottom: 1px solid #F0EB71;
}

