.footTable {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	height: 35px;
}
.footerTable {
	width: 99.5%;
	min-width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	bottom: 0px;
	height: 20px;
}

.footerTable tr td#mainFooter {
	width: 960px;
}

.footerTableRow {
	height: 20px;
}

.footerText1 {
	font-size: 0.6em;
}