.footerTable {
	width: 100%;
	min-width: 950px;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.footerTableRow {
	height: 30px;
}

.footerText1 {
	font-size: 0.6em;
}