
.bodyTable {
	width: 960px;
	height: 98%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding: 1;
	border-spacing: 1;
	border-radius: 6px;
	padding: 2;
	border-spacing: 2;
}

.loginTable, .signupTable {
	width: 35%;
	position: relative;
	left: 570px;
	padding: 1;
	border-spacing: 1;
	border-radius: 6px;
	padding: 2;
	border-spacing: 2;
}

.loginText, .signupText {
	color: black;
	font-size: 18px;
	height: 35px;
}

.loginRow, .signupRow{
	vertical-align: center;	
	height: 30px;
	margin: 0px auto;
	padding: 30px;
}

.textInput {
	font-size: 14px;
	border-radius: 4px;
	height: 30px;
	width: 99%;
	border: 0;
}

.loginRememberMe {
	font-size: 20px;
	border-radius: 4px;
}

.rememberMeText {
	font-size: 14px;
}

.forgotLink {
	font-size: 14px;
	color: #1111dd;
}

.submitButton, .signupButton, .clearButton {
	width: 100%;
	height: 30px;
	border-radius: 4px;
	color: black;
	font-size: 14px;
	border: 0;
}

.submitButton:hover {
	width: 100%;
	height: 30px;
	border-radius: 4px;
	color: black;
	font-size: 14px;
	border: 0;
	cursor: hand;
	cursor: pointer;
}

.signupButton:hover {
	width: 100%;
	height: 30px;
	border-radius: 4px;
	color: black;
	font-size: 14px;
	border: 0;
	cursor: hand;
	cursor: pointer;
}

.clearButton:hover {
	width: 100%;
	height: 30px;
	border-radius: 4px;
	color: black;
	font-size: 14px;
	border: 0;
	cursor: hand;
	cursor: pointer;
}


.invalidDetails {
	font-size: 12px;
	color: #ff2525;
}