html
{
 background: url("../images/backgroundimage.jpg") fixed;
}

.headertable
{
	border: 0px solid black;
	width: 100%;
	min-width: 960px;
  height: 300px;
  min-height: 200px;
  background: url("../images/header1.png") fixed;
  background-size: 100%;
  margin-right: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
}

.headertable tr td {
  height: 2em;
  vertical-align: bottom;
  text-align: center;
}

.headertable tr td#img img{
  position: absolute;
  top: 200px;
  margin-left: -75px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #000000;
}

.headertable tr td#comingsoon span{
  font-size: 3em;
  font-family: Verdana;
  border-radius: 10px;
 
}

.headertable tr td#artnartists {
  vertical-align: top;
  font-family: Verdana;
  border-radius: 10px;
  padding-bottom: 10px;
}

.headertable tr td#artnartists span{
  font-size: 2em;
  font-family: Verdana;
  border-radius: 10px;
  font-family: harrington;
}

.paddingTable {
  height: 400px;
}


.mainBody {
  border: 0px white solid;
  margin: auto;
  width: 960px;
}


.footer
{
  border: 0px solid white;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	color:#ffffff;
	font-family: Georgia;
	text-decoration: none;

}
.footerrowleft
{
  text-align: left;
  font-size: 0.6em;
}
.footerrowright
{
  text-align: right;
}

.logo {
  height: 150px;
  width: 150px;
}

.mainBody tr td {
  height: 30px;
  text-align: center;
  vertical-align: center;
  font-family: verdana;
  border: 0px solid white;
}

.mainBody tr td span {
  color: #ededed;
  font-size: 1em;
  font-family: verdana;
}

.mainBody tr td span a {
 text-decoration: none;
}

.textinput {
  width: 40%;
  height: 30px;
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 0.8em;
  font-family: verdana;
}

.textinput:focus {
  box-shadow: 0px 0px 10px #ffde00;
}



.button {
  height: 30px;
  border: 0px;
  border-radius: 5px;
  width: 10%;
  cursor: hand;
  cursor: pointer;
  background-color: #fefefe;
  color: #1e1e1e;
  font-size: 0.9em;
}

.button:hover {
  height: 30px;
  border: 0px;
  border-radius: 5px;
  width: 10%;
  cursor: hand;
  cursor: pointer;
  background-color: #fffe00;
  color: #1e1e1e;
  font-size: 0.9em;
}

.scale
{
  height: 30px;
  width: 30px;
}