html
{
 background: url("../images/backgroundimage.jpg") fixed;
 opacity: 60%;
}

.headertable
{
	border: 0px solid black;
	width: 100%;
	min-width: 960px;
  height: 200px;
  min-height: 200px;
  background: url("../images/header1.png") fixed;
  background-size: 100%;
  margin-right: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
}

.headertable tr td {
  height: 2em;
  vertical-align: bottom;
  text-align: center;
}

.headertable tr td#img img{
  position: relative;
  top: 60px;
  margin-left: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #000000;
}

.headertable tr td#comingsoon span{
  position: relative;
  font-size: 3em;
  font-family: Verdana;
  border-radius: 10px;
  top: 20px;
}

.headertable tr td#artnartists {
  vertical-align: top;
  font-family: Verdana;
  border-radius: 10px;
  padding-bottom: 10px;
}

.headertable tr td#artnartists span{
  position: relative;
  top: 30px;
  font-size: 2em;
  font-family: Verdana;
  border-radius: 10px;
  font-family: harrington;
}

.paddingTable {
  height: 400px;
}

.paddingTable50 {
  height: 50px;
}

.mainBody {
  border: 0px white solid;
  margin: auto;
  width: 960px;
}

.shareBody {
  border: 0px white solid;
  margin: auto;
  width: 960px;
}

.socialTable {
  border: 0px white solid;
  margin: auto;
  width: 960px;
}

.footer
{
	border: 0px solid white;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	color:#ffffff;
	font-family: Georgia;
	text-decoration: none;

}
.footerrowleft
{
  text-align: left;
  font-size: 0.6em;
}
.footerrowright
{
  text-align: right;
}

.logo {
  height: 150px;
  width: 150px;
}

.mainBody tr td {
  height: 30px;
  vertical-align: center;
  font-family: verdana;
}

.mainBody tr td span {
  color: #ededed;
  font-size: 1em;
  font-family: verdana;
}

.shareBody tr td {
  height: 30px;
  text-align: center;
  font-family: verdana;
  color: #ededed;
  font-size: 1em;
}

.shareBody tr td a{
  text-decoration: none;
  border: 0px;
}

.shareBody tr td span#ty{
  height: 30px;
  text-align: center;
  font-family: verdana;
  color: #ededed;
  font-size: 2em;
}

.shareBody tr td input#shareLink {
  border: 0px solid white;
  text-align: center;
  height: 50px;
  width: 700px;
  border-radius: 5px;
  font-size: 1em;
  color: #ffce00;
  background-color: #919191;
}

.mainBody tr td span a {
 text-decoration: none;
}

.socialTable tr td {
  text-align: center;
  color: #ededed;
  font-size: 1em;
  font-family: verdana;

}

.textinput {
  width: 90%;
  height: 30px;
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
   padding-right: 10px;
  font-size: 0.8em;
  font-family: verdana;
}

.textinput:focus {
  box-shadow: 0px 0px 10px #ffde00;
}

.textarea {
	height: 100px;
	width: 90%;
	border: 0px;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.8em;
  font-family: verdana;
}

.textarea:focus {
  box-shadow: 0px 0px 10px #ffde00;
}

.button {
  height: 30px;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  cursor: hand;
  cursor: pointer;
  background-color: #fefefe;
  color: #1e1e1e;
  font-size: 0.9em;
}

.button:hover {
  height: 30px;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  cursor: hand;
  cursor: pointer;
  background-color: #fffe00;
  color: #1e1e1e;
  font-size: 0.9em;
}

.scale
{
  height: 30px;
  width: 30px;
}

.scaleShare {
  height: 40px;
  width: 40px;
}

.right {
  padding-right: 20px;
  padding-left: 20px;
  width: 50%;
  text-align: center;
}

.left {
  padding-right: 20px;
  padding-left: 20px;
  text-align: justify;
  width: 50%;
  border-right: 0px solid white;
}

.nolink {
  text-decoration: none;
  border: 0px;
  color: blue;
}

.fbshare {
  border: 1px white solid;
  width: 40px;
  height: 40px;
  background: url(../images/facebook.png);
  background-size: 40px 40px;
  display: block;
}

.contactTable {
	background-color: #dedede;
	border-radius: 5px;
	width: 960px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contactTable tr td {
  text-align: center;
  color: #1e1e1e;
  font-size: 1em;
  font-family: verdana;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.contactTable tr td#left {
  text-align: right;
  width: 20%;
  
}

.contactTable tr td#right {
  text-align: left;
  width: 80%;
}

